* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    background-color:rgb(68, 68, 68);
    text-align: center;
}

/* Heading styles */
h1 {
    color: #fecb00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fecb00;
    font-weight: bolder;
    text-align: center;
    font-size: 32px;
}


/* Page Layout */
.site-content {
    padding-top: 100px;
    margin-left: 15%;
    margin-right: 10%;
}


.project-container {
    float: left;
    width: 30%;
    height: 1080px;
    margin-top: 5%;
    /* border: black solid 2px; */
}

.project-container-temp {
    float: left;
}

/*
.content-dropdown-left {
    background-color: #fecb00;
    padding: 8px;
    float: left;
    border-radius: 25px;
    margin-top: 2%;
    border-radius: 40px;
    height: 100%;
    width: 30%;
}

.content-dropdown-right {
    background-color: #fecb00;
    padding: 8px;
    float: right;
    margin-top: 2%;
    border-radius: 40px;
    height: 100%;
    width: 30%;
}
*/


a {
    color: #fecb00;
    text-decoration: none;
}

li {
    list-style: none;
}

/* Buttons */


.button {
    width: 150px;
    height: 150px;
    background-color: #fecb00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    border-radius: 25px;
    padding-top: 50px;
    margin: 5%;
    float: left;
}

.button-text {
    color: black;
}


/* Actions */ 

.button:hover {
    background-color: rgb(68, 68, 68);
    border: #fecb00 solid 3px;
    color: #fecb00;
}

footer a:hover {
    color: white;
}

/* footer */
footer {
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 8px 0px;
}

footer a {
    font-family: Myriad Pro,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}